@{
    ViewBag.Title = "Anasayfa";
}
<div class="row">
    <div class="col-md-4">
        <h2>Kriptografi</h2>
        <p>Kriptografi, gizlilik, kimlik denetimi, bütünlük gibi bilgi güvenliği kavramlarını sağlamak 
        için çalışan matematiksel yöntemler bütünüdür. Bu yöntemler, bir bilginin iletimi esnasında karşılaşılabilecek 
        aktif ya da pasif ...</p>
        <p><a class="btn btn-secondary" href="https://tr.wikipedia.org/wiki/Kriptografi" role="button" target="_blank">Devamı »</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hash Fonksiyonu</h2>
        <p>Hash fonksiyonu, değişken uzunluklu veri kümelerini, sabit uzunluklu veri kümelerine haritalayan algoritma veya alt programdır. Örneğin, bir kişinin ismi değişken uzunlukta ise...</p>
        <p><a class="btn btn-secondary" href="https://tr.wikipedia.org/wiki/Hash_fonksiyonu" role="button" target="_blank">Devamı »</a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET Identity</h2>
        <p>ASP.NET Identity sistemi, önceki ASP.NET Üyeliği ve Basit Üyelik sistemlerini değiştirmek üzere tasarlanmıştır. Profil desteği, OAuth entegrasyonu, OWIN ile çalışır ve Visual Studio 2013 ile birlikte gelen ASP.NET şablonlarına dahildir.</p>
        <p><a class="btn btn-secondary" href="https://www.asp.net/identity" role="button" target="_blank">Devamı »</a></p>
    </div>
</div>
